header
  margin-bottom: 15px
  nav
    padding: 0 8px 0 !important
    a.navbar-brand
      img
        height: 64px
        margin-right: 5px
    a
      color: white !important
    .dropdown
      a.dropdown-item
        color: black !important
    img.select-language
      height: 48px
      margin-right: 3px
    img.user-avatar
      margin: 5px 3px 0 0
      float: left
      height: 50px
      width: 50px
    a.user-name
      margin-top: 10px
      float: left

body
  background: #FAFAFA

.card
  box-shadow: 5px 5px 5px #CEECF5
  a
    text-decoration: none
  .card-button
    &:hover
      box-shadow: 5px 10px 5px #CEF6D8

form
  #error_explanation
    color: Tomato
  .btn
    margin-right: 10px
  input[type='checkbox']
    margin-right: 5px
  label
    margin-right: 5px
  .actions
    .btn-right
      float: right

.category-index, .word-index
  .card
    .card-body
      padding: 0
    img
      width: 100%

.word-index
  .card
    .card-footer
      height: 90px
    margin-bottom: 5px

.admin-panel
  .btn
    margin-bottom: 10px


