$primary-color: #81F781

@mixin title()
  border-left: 5px solid $primary-color
  border-bottom: 1px solid $primary-color
  padding: 5px 0 5px 15px
  margin-bottom: 15px
  color: blue

html
  min-height: 100%
  position: relative

body
  background: #FBEFFB
  padding-bottom: 150px

header
  position: fixed
  z-index: 99
  width: 100%
  nav
    padding: 0 8px 0 !important
    a.navbar-brand
      img
        height: 64px
        margin-right: 5px
    a
      color: white !important
    .dropdown
      a.dropdown-item
        color: black !important
    img.select-language
      height: 48px
      margin-right: 3px
    img.user-avatar
      margin: 5px 3px 0 0
      float: left
      height: 50px
      width: 50px
    a.user-name
      margin-top: 10px
      float: left

footer
  border-top: 3px solid orange
  background: lightgray
  margin-top: 15px
  padding: 10px 0
  text-align: center
  position: absolute
  bottom: 0
  width: 100%

main
  background: white
  border: 3px solid $primary-color
  border-radius: 20px
  padding: 10px
  margin-top: 85px

.page-title
  @include title


aside#user-aside
  margin-top: 85px
  #welcome
    h3
      color: tomato
    b
      color: gray
    dl
      dt
        @include title
      dd
        margin-left: 40px
  #user-info
  #bookmark-words
    .title
      @include title
      

.card
  box-shadow: 5px 5px 5px #CEECF5
  a
    text-decoration: none
  .card-button
    &:hover
      box-shadow: 5px 10px 5px #CEF6D8

form
  #error_explanation
    color: Tomato
  .btn
    margin-right: 10px
  input[type='checkbox']
    margin-right: 5px
  label
    margin-right: 5px
  .actions
    .btn-right
      float: right

.category-index, .word-index
  .card
    .btn-right
      float: right
    .card-body
      padding: 0
    img
      width: 100%
    margin-bottom: 5px

.word-index
  .card
    .card-footer
      padding: 10px 5px 10px 10px
      .word-text
        height: 90px
      .word-button
        .btn
          max-width: 100%
        .bookmark-button
          float: left

.bookmark-word
  .btn
    margin-right: 5px

#admin-panel
  .btn
    margin-bottom: 10px
    margin-right: 5px
  margin-bottom: 15px
