- provide(:title, eval("@category.#{I18n.locale}"))

h3.page-title = "Từ vựng chủ đề: " + eval("@category.#{I18n.locale}")

- if admin_signed_in?
  = render 'layouts/admin_panel'

.row.word-index
  = render @words

= paginate @words

#category-modal.modal.fade
#word-modal.modal.fade
